.checkoutContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.contribution-container{
    width: unset;
}


.contribution-container img  {
    width: 65px;
    height: 65px;
}
.contribution-container p {
    color: #826F89;
}

.checkoutContainer1 {
    width: 20vw;
    margin-left: 15%;
    margin-top: 10%;
}

.checkoutContainer2 {
    width: 40%;
    margin-top: 4%;
}
.locationcarre {
    height: 100%;
}
.checkout-graph {
    width: 90%;
}
.stepContainer{
    width: 60%;
}
.stepContainer2{
    width: 76%;
}
.leftLayout {
    border-left: 10px dotted purple;
    height: 100%;
}

.checkoutInnerTitle {
    color: #A693B2;
    font-size: 25px;
}

.contributionAndEstimated {
    display: flex;
    justify-content: space-around;
}

.contributionAndEstimated p {
    font-family: Poppins-Bold, sans-serif;
    text-align: center;
}

.levelAndEarning {
    display: flex;
    justify-content: space-between;
}

.innerContainer2 {
    display: flex;
}

.purpleTitle {
    color: #7F6CFC;
    font-family: Poppins-SemiBold, sans-serif;
}

.creditCardInput {
    border: 1px solid #EBE1F1;
    width: 100%;
    border-radius: 13px;
    margin-top: 2%;
}

.creditCardInputMini {
    border: 1px solid #EBE1F1;
    width: 45%;
    border-radius: 13px;
    margin-top: 2%;
}

.img-form {
    height: 100%;
    margin-top: 2%;
}

.img-form-mini {
    height: 50%;
    margin-top: 4%;
}

.img-checkout {
    height: 100%;
    margin-top: 1.3%;
    margin-right: 4%;
}
.checkoutForm {
    max-width: 70%;
}

.contribution-container p {
    width: 200px;
}

.inputCheckout {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.inputCheckout:focus {
    outline: none;
}

.inputCheckout::placeholder {
    font-family: Poppins-Regular, sans-serif;
    color: #AE9ABA;
}

.expiry-container {
    width: 100%;
}

#pay-button {
    width: 45%;
}

#back-button {
    width: 45%;
}

@media screen and (max-width: 1200px){
    .your-contribution-container {
        width: 100%;
    }
    .stepContainer {
        width: 100%;
    }
    .yourContribution {
        width: 33%;
    }
    .contribution-container {
        width: 33%;
    }
    .locationCheckoutContainer {
        width: 33%;
    }
    .checkoutContainer2 {
        width: 33%;
        margin-top: 3%;
        margin-left: 7%;
    }
}

@media screen and (max-width: 850px){
    .locationCheckoutContainer {
        margin-top: 2%;
    }
    .contribution-container img {
        width: 40px;
        height: 40px;
    }
    .your-contribution-container {
        flex-direction: column;
    }
    .checkoutContainer1 {
        margin-left: 0;
    }
    .checkoutContainer2 {
        margin-top: 5%;
        margin-left: 3%;
    }
    .checkoutForm {
        max-width: 100%;
    }
}