.footerContainer {
    background-color: #342497;
    padding-bottom: 2%;
}

.footerContainer hr {
    border-top: 1px solid white;
    width: 100%;
}
.footerInnerContainer {
    color: white;
    display: flex;
    padding: 2% 5%;
    justify-content: space-around;
}

.innerFooter {
    display: flex;
}
.imgFooter {
    height: 60%;
}

.emailFooter {
    margin-right: 8%;
}

.colFooter p, .colFooter img{
    margin-top: 3%;
}

.followContainer img{
    margin-left: 6%;
}

.copyright {
    text-align: center;
    color: white;
}

.fullFooter {
    display: flex;
}

@media screen and (max-width: 1000px){
    .innerFooter {
        flex-direction: column;
    }
}

@media screen and (max-width: 760px){
    .footerInnerContainer {
        flex-direction: column;
        align-items: center;
    }
    .innerFooter {
        text-align: center;
    }
    .colFooter p {
        text-align: center;
        margin-bottom: 3% !important;
    }
    .emailFooter {
        display: none;
    }
    .imgFooter {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #conditionsOfSales {
        margin-bottom: 15% !important;
    }
    #emailHemergy {
        margin-bottom: 15% !important;
    }
}