.energy {
    border: 1px solid #EDE9F9;
    display: inline-flex;
    border-radius: 20px;
    padding: 0.5% 6%;
    cursor: pointer;
}
.energyNeeded {
    width: 90%;
    margin: 0 auto;
}

.energyViolet {
    border: 1px solid #EDE9F9;
    display: inline-flex;
    border-radius: 20px;
    padding: 0.5% 6%;
    color: white;
    cursor: pointer;
    background-color: #7F6CFC;
}

.energyContainer {
    display: flex;
    justify-content: space-between;
}

.imageEnergy {
    margin-right: 10%;
}

.amountNeeded {
    display: flex;
    margin-left: 40%;
    margin-bottom: 5%;
}

.titleContainer {
    align-items: center;
}
.inputAmount {
    border: 1px solid #EAE8F3;
    display: inline-flex;
    border-radius: 20px;
    padding: 2% 1%;
    width: 30%;
    font-family: Poppins-Bold, sans-serif;
}

.amountNeeded input:focus {
    outline: none;
}

.amountNeeded input::placeholder {
    font-family: Poppins-Regular, sans-serif;
    font-size: 14px;
    color: #AE9ABA;
}

.amountNeeded input {
    border: none;
    border-radius: 20px;
    width: 46%;
}

.amountNeeded input::placeholder {
  font-size: 18px;
    font-family: Poppins-Bold, sans-serif;
    color: black;
}

.amountNeededText {
    font-family: Poppins-Bold, sans-serif;
    margin-top: 2%;
    margin-right: 3%;
}

.energyText {
    margin-bottom: 5%;
}

.amountNeededContainer {
    width: 90%;
    margin: 0 auto;
}

.projectDetails {
    width: 90%;
    border-radius: 20px;
    margin: 0 auto;
}

.projectDetails3 {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #EBE1F1;
}

.projectDetails3Container {
    width: 90%;
    margin: 0 auto;
}

.projectTitle {
    margin-bottom: 5%;
}

#sendProject {
    width: 40%;
}

.comebacksoon {
    text-align: center;
    margin-top: 4%;
}

#availableProjects {
    margin: 5% auto;
    width: 30%;
    padding: 1% 1%;

}

.imgContainerThankYou {
    margin: 0 auto;
    width: 50%;
}

.placeholderContainer2 input{
    outline: none;
    border: none;
    width: 90%;
}

.imgPlaceholder {
    width: 2% !important;
    height: 13% !important;
}

.placeholderContainer2 {
    border: 1px solid #EBE1F1;
    border-radius: 20px;
    padding: 2% 2%;
    margin-bottom: 3%;
}

#suivantButton1 {
    width: 20%;
    margin: 0 auto;
    padding: 1% 5%;
}

.postProjectContainer {
    position: relative;
}

#suivantButton {
    width: 40%;
    margin: 0 auto;
}
.suivantContainerPost {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    position: absolute;
    right: 5%;
    bottom: 14%;
}

.blanck {
    height: 350px;
}

.searchBarContainer {
    max-width: 50%;
    margin: 0 auto;
}



#postProjectButton {
    width: 50%;
    margin: 5% auto;
}