.energyListItem {
    display: flex;
    border-top: 1px solid #78889F;
    padding: 3%;
    cursor: pointer;
}

.projectsListContainer {
    width: 45%;
}

.itemContainer {
    width: 100%;
}
.projectsFullContainer {
    display: flex;
    max-width: 80%;
    margin: 3% auto;
}

.projectsAdminListContainer {
    width: 100%;
}
.mapSuperContainer {
    position: relative;
}
.energyAndProductionChose {
    display: flex;
    justify-content: space-around;
}

.energyChose {
    width: 45%;
}

.productionChose {
    width: 45%;
}

.MuiTypography-gutterBottom {
    font-family: Poppins-Regular, sans-serif!important;
    color: #826F89!important;
}

.productionValue {
    font-family: Poppins-Bold, sans-serif;
}

.MuiSlider-rail {
    height: 4px !important;
}

.MuiSlider-thumb {
    width: 25px!important;
    height: 25px!important;
    margin-top: -10px!important;
}

.energyTypeText {
    margin-bottom: 5% !important;
}

.productionChoseContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.projectsFound {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
}

.sortBy {
    display: flex;
    width: 35%;
    height: 50px;
}

.foundProjects {
    width: 45%;
    font-family: Poppins-Bold, sans-serif;
}

.sortByText {
    width: 700%;
    margin-top: 5%;
    margin-right: 5%;
}

.projectsList {
    margin-top: 10%;
}

.carteContainer {
    width: 45%;
    margin-top: 15%;
    margin-left: 3%;
}

.search {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 400px;
    z-index: 10;
}

.projectTitleContainer h4 {
    font-size: 1.2rem;
}



@media screen and (max-width: 1700px){
    .sortBy {
        width: 40%;
    }
}

@media screen and (max-width: 1500px){
    .sortBy {
        width: 50%;
    }
}

@media screen and (max-width: 1250px){
    .projectsFullContainer {
        max-width: 90%;
    }
}

@media screen and (max-width: 1150px){
    .projectsFullContainer {
        max-width: 95%;
    }
}

@media screen and (max-width: 1070px){
        .projectsFullContainer {
            flex-direction: column-reverse;
            overflow: hidden;
        }
    .carteContainer {
        width: 100%;
        margin-top: 0;
    }
    .mapUltraContainer {
        width: 100% !important;
    }
    .projectsListContainer {
        width: 100%;
        margin-top: 5%;
    }
    .sortBy {
        width: 30%;
    }
}

@media screen and (max-width: 750px){
    .sortBy {
        width: 40%;
    }
}

@media screen and (max-width: 570px){
    .sortBy {
        width: 50%;
    }
    .projectCardContainer {
        flex-direction: column;
    }
    .panneauImg {
        height: 300px;
    }

}

@media screen and (max-width: 450px){
    .sortBy {
        width: 70%;
    }
    .projectCardContainer {
        flex-direction: column;
    }

}