.goBackContainer {
    display: flex;
    cursor: pointer;
    height: 50%;
    margin-top: 1.5%;
}

.backText {
    color: #7F6CFC;
}

.ProjectDetailsAndMap {
    display: flex;
    margin-top: 5%;
}

.projectDetailsInner {
    width: 45%;
}

.description {
    display: flex;
    flex-direction: column;
}

.returnContrib {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 2% 5%;
}

.notreturnContrib {
    background-color: #F8F7FF;
    border-radius: 10px;
    width: 50%;
    padding: 2% 5%;
}

.graphContainer {
    width: 45%;
    align-items: center;
    margin-left: 5%;
}

.graphChoice {
    width: 90%;
    margin: 0 auto;
    background-color: #F8F7FF;
    padding: 1%;
    border-radius: 10px;
}
.returnContribText {
    font-size: 13px;
    line-height: 17px;
    color: #7F6CFC;
    font-family: Poppins-Bold, sans-serif;
}

.notreturnContribText {
    color: #C8B7D3;
    font-size: 13px;
    line-height: 17px;
    font-family: Poppins-Bold, sans-serif;
}

.graph {
    margin-top: 5%;
}
.productDetailContainer {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%   ;
}

.line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.energyTypeContainer {
    display: flex;
    justify-content: space-around;
}

.projectImg {
    width: 100%;
}

.lowTitle {
    font-size: 18px;
}

.projectDetailsTitle {
    margin-top: 5%;
    margin-bottom: 3%;
}

.projectDetailTitleContainer {
    display: flex;
    justify-content: space-between;
    width: 56%;
    margin-top: 3%;
}

.projectDetailTitle {
    text-align: center;
}

.contributors2 {
    display: flex;
    justify-content: space-between;
}

.contributionContainer2 {
    width: 50%;
}
.numberContributors {
    display: flex;
}

.amount {
    font-family: Poppins-Bold, sans-serif;
}

.contributionAndGraph {
    display: flex;
    margin-top: 5%;
}

.contributionContainer {
    width: 100%;
}

.setAmount {
    font-family: Poppins-bold, sans-serif!important;
    color: black!important;
    margin-top: 2% !important;
}

.contributionChoseContainer {
    display: flex;
    justify-content: space-between;
}

.inputAmount2 {
    border: 1px solid #EAE8F3;
    display: inline-flex;
    border-radius: 20px;
    padding: 2% 1%;
    /* width: 0%; */
    font-family: Poppins-Bold, sans-serif;
}

.estimatedInnerContainer {
    display: flex;
    justify-content: space-between;
}

.estimatedResults {
    margin-top: 5%;
}

#contributeButton {
    width: 100%;
    margin-top: 3%;
}

.productMap {
    width: 45%;
    margin-left: 5%;
}

@media screen and (max-width: 1250px){
    .graphChoice {
        width: 100%;
    }
}

@media screen and (max-width: 1150px){
    .graphChoice {
        width: 100%;
    }
    .ProjectDetailsAndMap {
        flex-direction: column;
    }
    .projectDetailsInner {
        width: 100%;
        margin-bottom: 2%;
    }
    .contributionAndGraph {
        flex-direction: column;
    }
    .contributionContainer2 {
        width: 100%;
    }
    .graphContainer {
        width: 100%;
        margin-left: 0;
        margin-top: 3%;
    }
    .mapUltraContainer {
        width: 100% !important;
    }
    .productMap {
        width: 100%;
        height: 600px;
        margin-left: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 700px){
    .projectDetailTitleContainer {
        width: 70%;
    }
}

@media screen and (max-width: 500px){
    .productMap {
        height: 400px;
    }
    .projectDetailTitleContainer {
        width: 70%;
    }
    .projectDetailTitleContainer h1 {
        font-size: 1.5rem;
    }
}