.consommationAndEnergyContainer {
    display: flex;
    justify-content: space-between;
}

.projectCardContainer {
    display: flex;
    border: 1px solid #EAE8F3;
    border-radius: 10px;
    margin-top: 3%;
}


.projectCard {
    padding-left: 4%;
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    width: 100%;
}
.locationContainer {
    display: flex;
    margin-bottom: 5%;
}

.consommationContainer {
    display: flex;
    justify-content: space-between;

}

.locationCardImg {
    height: 30px;
}
.excludeImg {
    height: 25px;
}


.energyContainerProject {
    display: inline-flex;
    justify-content: space-between;
}

.projectTitleContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

#contribute {
    border-radius: 15px;
    width: unset;
    height: 40px;
    text-align: center;
}

