.recapContainer {
    width: 40%;
}

.grey {
    color: #826F89
}


.recapContainer h5 {
    font-family: Poppins-Bold, sans-serif;
}

.imgCarte {
    height: 60%;
}

.mapContainer {
    width: 55%;
}